/* Styles for MainMenu, FloorMenu, SpaceMenu, AddSpace, DeleteSpace, ModifyBuilding, ModifySpace */
.container {
    max-height: 53em;
    display: flex;
    justify-content: left;
    flex: 1;
    border: 1px solid #d5d5d5;
}

.menu {
    text-align: center;
    width: 20em;
    height: max-content;
}

.box {
    height: 49em;
    border-right: 1px solid #d5d5d5;
    overflow-y: hidden;
    width: 20em;
}

.with-bottom-border {
    border-bottom: 1px solid #d5d5d5;
}

.verticalNav {
    height: 100%;
    text-align: center;
}

/* Style for MainMenu, SpaceMenu, AddSpace, DeleteSpace, ModifyBuilding, ModifySpace */
.title {
    width: 96%;
    text-align: center;
    padding: 3% 2% 3% 2%;
    font-weight: bold;
}

.form {
    width: 100%;
    justify-content: flex-start;
    border-left: 1px solid #d5d5d5;
}

.form, .links {
    overflow-y: auto;
    
    &::-webkit-scrollbar {
      width: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #ed5959;
      transition: background-color 0.3s ease;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: #b92929;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #ecf0f1;
      border-radius: 10px;
    }
}

.form-container {
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
}  

.titlePage {
    text-align: left;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.listOfInput {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.listOfInput label {
    display: block;
    font-size: 1em;
    margin-bottom: 8px;
    color: #333;
}

/* Styles for SpaceMenu, AddSpace, DeleteSpace, ModifyBuilding, ModifySpace */
.buildingSelected, .floorSelected {
    width: auto;
    text-align: left;
    padding: 5% 0% 5% 5%;
    border-bottom: 1px solid #d5d5d5;
}

.links {
    max-height: 69vh;
}

.operationButton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.action {
    width: 40%;
    position: relative;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0.8em 2em;
    text-align: center;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    background-color: #fff;
    border-radius: 0.5em;
}

.action:hover, .createAction:hover, .deleteAction:hover, .modifyAction:hover {
    background-color: #ed5959;
}

.aggiungi {
    margin-right: 10px;
}

.elimina {
    margin-left: 10px;
}

.noLinks {
    color: #777;
    margin-top: 1em;
}

/* Styles for AddSpace, DeleteSpace, ModifyBuilding, ModifySpace */
.listOfInput input,
.listOfInput textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.listOfInput textarea {
    resize: vertical;
}

.buttonsOperation {
    text-align: end;
    margin-top: auto;
    padding: 10px;
}
  
.createAction, .deleteAction, .modifyAction {
    width: 100%;
    margin: 0 1%;
    padding: 0.8em 0.5em;
    text-align: center;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    background-color: #fff;
    border-radius: 0.5em;
    overflow: hidden;
}

.conferma {
    height: 25%;
    width: 10%;
}
  
.annulla {
    height: 25%;
    width: 10%;
}

/* Styles for DeleteSpace */
.subtitle {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.listOfSpaces {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 8px;
}
  
.listOfSpaces label {
    font-size: 1em;
    color: #333;
}
  
.listOfSpaces label:first-child {
    font-weight: bold;
}

.deleteOption {
    width: 100%;
    text-align: center;
}

.action {
    width: 40%;
    position: relative;
    display: inline-block;
    margin-bottom: 3%;
    padding: 0.8em 2em;
    text-align: center;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    background-color: #fff;
    border-radius: 0.5em;
}

.action:hover {
    background-color: #ed5959;
}

.tab {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    text-align: center;
    font-weight: bold;
    color: #333;
    letter-spacing: 2px;
    background-color: #fff;
    border: none;
}

.tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: calc(100% - 30px);
    border-radius: 0 0 8px 8px;
    background-color: rgb(255, 37, 37);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tab.active {
    color: rgb(234, 37, 37);
}

.tab.active::after {
    opacity: 1;
}

/* Styles for AddSpace */
select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

option {
    background-color: #fff;
    color: #333;
}

/* Styles for ModifySpace */
.img {
    width: 80%;
    height: 30%;
}

/* Styles for mobile */
@media (max-width: 768px) {
    .menu-button {
      display: block;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1001;
      padding: 15px 0;
      background-color: #d97d7d;
      color: white;
      border: none;
      text-align: center;
      cursor: pointer;
    }
    
    .menu {
      display: none;
      width: 100%;
      position: fixed;
      top: 50px;
      left: 0;
      z-index: 1000;
      background-color: white;
      max-height: calc(100% - 50px);
      overflow-y: auto;
    }
  
    .menu.show {
      display: block;
    }
  
    .form {
      padding-top: 40px;
    }
  }
  
  @media (min-width: 769px) {
    .menu-button {
      display: none;
    }
  
    .form {
      padding-top: 0;
    }
  }
